body
{
	margin: 0;
	padding: 0;
	font-size: 12px;
	background-color: #EFECCA;
}

table
{
	width: 500px;
	margin: 0 auto;
	border-collapse: collapse;
	font-size: 12px;
}

td
{
	text-align: center;
	padding: 2px;
}

.menu ul
{
	padding:0;
	margin:0;
	list-style-type:none;
 }
 
.menu ul li 
{
	margin: 5px 15px auto;
	float:left; /*pour IE*/
 }

.Connection
{
	width: 900px;
	margin: 0 auto;
	border-collapse: collapse;
	font-size: 12px;
}

.Connection td
{
	text-align: center;
	padding: 2px;
	width: 200px;
}

#Site
{
	margin: 0px auto; 
}

#header
{
	margin: 0 0 10px 0; 
	padding: 10px;
	text-align: center;
	background-color: #A7A37E;
	height: 20px;
}

#calendrier li
{
	list-style: none;	
}

#libelle 
{
	width: 210px;
	margin: 0 auto;
	padding: 0;
}
.ligne {
	width: 210px;
	margin: 0 auto;
	padding: 0;
} 
#libelle li 
{
	float : left;
	width : 30px; 
}
.ligne li 
{
	color: #000;
	float : left; 
	width : 30px; 
}

.ligne li a:hover
{
	list-style: none;
	text-decoration: none;
}

li.itemCurrentItem 
{
	/* A vous de configurer l'apparence de la date du jour */
}
li.itemSelectedItem 
{
	/* A vous de configurer l'apparence du jour sélectionné */
}		

#inscription
{
	margin: 0 auto;
	padding : 0;
	width: 600px; 
	border: 1px solid black;
}

#erreur
{
	margin: 10 auto;
	width: 500px;
	padding: 0px;
	text-align: center;
	font-size: 15px;
}

#Menu
{
	margin: 10px auto;
	padding: 0px;
	font-size: 15px;
}

#lien
{
	width: 300px;
	height: 25px; 
	margin: 10px auto;
	padding: 0px;
	font-size: 15px;
	text-align: center;
	
}

#footer
{
	border: 1px solid black;
	padding: 10px;
	margin: 10px 0 0 0;
	text-align: center;
	background-color: #A7A37E;
}
